@import url('https://rsms.me/inter/inter.css');
@import './screens/LandingPage.css';
@import './screens/Projects.css';
@import 'index.css';
@import './screens/About.css';
@import './components/Header.css';
@import './screens/Experiences.css';
@import './screens/Contact.css';
@import './screens/Spotify.css';


.App {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --cream: #fffefa;
  --warm-yellow: #FFD166;
  /* Light Mode Colors */
  --primary-color: #007BFF;
  --secondary-color: #0056b3;
  --background-color: #F8F9FA;
  --surface-color: #FFFFFF;
  --text-primary-color: #212529;
  --text-secondary-color: #6C757D;
  --accent-color: #FF4081;
  --box-shadow-color: rgba(0, 0, 0, 0.15);
  --social-icon1: #0077b5;
  --social-icon2: #6e5494;
  --social-icon3: #e4405f;
  --social-icon4: #3b5999;
}

body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  /* Light Mode */
  background-color: var(--background-color);
  color: var(--text-primary-color);
  transition: background-color 1s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}


.dark-mode {
  /* Dark Mode Colors */
  --primary-color: #339AFF;
  --secondary-color: #1A73E8;
  --background-color: #121212;
  --surface-color: #1E1E1E;
  --box-shadow-color: rgba(0, 123, 255, 0.1);
  --text-primary-color: #EAEAEA;
  --text-secondary-color: #A0A0A0;
  --accent-color: #FF4081;
}



button {
  all: unset;
  /* Removes all inherited & browser default styles */
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Remove default box-shadow */
  box-shadow: none;
  outline: none;
}

button:focus {
  /* remove or customize focus outline */
  outline: none;
  box-shadow: none;
}



.btn-as-link {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;

}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
  color: var(--white);
}