@import url('https://rsms.me/inter/inter.css');

.App {
  font-family: 'Inter';
  margin: 0;
  height: 100%;
  width: 100%;
  user-select: none;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fffefa;
}

:root {
  --darkBlue: #0f1922;
  --lightBlue: #0f192266;
  --lightestBlue: #1f2731;
  --softGrey: #fffefa99;
  --fandagoPink: #6919ff;
  --white: #ffffff;
  --cream: #fffefa;
  --black: #000000;
  --inv: #fff;
}

/* Landing page css */
