.contact-root {
  padding: 100px 150px;
  height: max-content;
  width: 100%;
  background-color: black;
  color: var(--cream);
}

.contact-outer-ctn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-ctn {
  width: 35%;
  height: 100%;
  opacity: 0;
  filter: blur(10px);
  transform: translateY(50px);
  transition: all ease-out 500ms;
}

.left-ctn {
  width: 65%;
  height: 100%;
  margin-right: 2.5rem;
  opacity: 0;
  filter: blur(10px);
  transform: translateY(50px);
  transition: all ease-out 500ms;
}

.left-ctn .text-ctn {
  padding: 10px;
  margin-bottom: 1rem;
}

.title-ctn {
  text-align: center;
  margin-bottom: 1rem;
}

.title-ctn > .title {
  color: var(--fandagoPink);
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 1rem;
  opacity: 0;
  filter: blur(10px);
  transform: translateY(50px);
  transition: all ease-out 700ms;
}

.title-ctn > .desc {
  color: var(--cream);
  font-size: 17px;
  font-weight: 400;
  font-family: Consolas, monaco, monospace;
  opacity: 0;
  filter: blur(10px);
  transform: translateY(50px);
  transition: all ease-out 700ms;
}

.contact-form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.contact-form > .first-ctn {
  display: flex;
  justify-content: space-between;
}

.contact-form .input-ctn {
  position: relative;
  width: 100%;
  padding: 10px;
}

.contact-form .input {
  position: relative;
  background-color: var(--lightestBlue);
  border-radius: 5px;
  width: 100%;
  padding: 2rem 1.2rem 0.4rem 0.5rem;
  color: var(--cream);
  font-family: Consolas, monaco, monospace;
  border: none;
  outline: none;
}

.contact-form .input:focus ~ label {
  top: -8px;
  left: 15px;
  font-size: 12px;
  color: var(--cream);
  opacity: 1;
}

.contact-form .animated-label {
  position: absolute;
  top: 15px;
  left: 18px;
  transition: 0.5s;
  font-weight: 300;
  font-size: 15px;
  opacity: 0.5;
  cursor: text;
  transition: 0.2s ease all;
  margin: 0;
}

.input-ctn > .focus-border {
  position: absolute;
  bottom: 10px;
  left: 10px;
  height: 2px;
  width: 0%;
  background-color: var(--fandagoPink);
  transition: ease-in 250ms;
}

.contact-form .input:hover ~ .focus-border,
.contact-form .input:focus ~ .focus-border {
  width: calc(100% - 20px);
}

.contact-form textarea {
  resize: none;
}

.contact-form .submit-btn {
  border: 1px solid var(--fandagoPink);
  background-color: transparent;
  color: var(--fandagoPink);
  padding: 0.8rem 0rem;
  width: 145px;
  text-align: center;
  align-self: flex-end;
  font-size: 15px;
  margin: 10px;
  border-radius: 5px;
  transition: background-color 150ms ease-out 0ms;
}

.contact-form .submit-btn:hover {
  background-color: rgba(105, 25, 255, 0.2);
  transition: all ease-in 50ms;
  cursor: pointer;
}

.social-title {
  color: var(--cream);
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.info-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
}

.icon-ctn {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  font-family: Consolas, monaco, monospace;
}
.icon-ctn > .icon {
  color: var(--fandagoPink);
  margin-right: 1rem;
  height: 25px;
  width: 25px;
}

.line {
  width: 100%;
  border: 1px solid var(--fandagoPink);
}

.socials-ctn {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.socials-ctn > a > .socials {
  height: 25px;
  width: 25px;
}

/* Animations */

.fade-up {
  opacity: 1 !important;
  transform: translateY(0%) !important;
  filter: blur(0px) !important;
  transition: all ease-out 500ms;
}

/* Responsive Queries */

@media (max-width: 1280px) {
  .contact-outer-ctn {
    flex-direction: column;
  }

  .title-ctn {
    text-align: left;
    padding: 10px;
  }

  .left-ctn {
    margin-right: 0;
  }

  .right-ctn {
    width: 100%;
    height: 100%;
  }

  .left-ctn {
    width: 100%;
    height: 100%;
    margin-bottom: 1em;
  }
}

@media (max-width: 1024px) {
  .contact-root {
    padding: 100px 50px;
  }
}

@media (max-width: 640px) {
  .title-ctn > .title {
    font-size: 20px;
  }

  .title-ctn > .desc {
    font-size: 15px;
  }

  .contact-form > .first-ctn {
    display: flex;
    justify-content: unset;
    flex-direction: column;
  }

  .left-ctn {
    margin-right: 0;
  }

  .title-ctn {
    text-align: left;
    padding: 10px;
  }
}
