.header-root {
  width: 100%;
  transition: all 0.3s ease;
  backdrop-filter: blur(5px);
  color: var(--white);
  background-color: rgba(10, 20, 24, 0.9);
  height: 72px;
  display: flex;
  align-items: center;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
}

.header-hidden {
  width: 100%;
  transition: all 0.1s ease;
  box-shadow: 3px -2px 44px 1px rgba(105, 25, 255, 0.3);
  backdrop-filter: blur(5px);
  color: var(--white);
  background-color: rgba(10, 20, 24, 0.9);
  height: 0px;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
}

.open-header {
  display: none;
}

.home-logo {
  color: var(--fandagoPink);
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.header-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: '600';
  width: auto;
}

.header-link:hover {
  color: var(--fandagoPink);
  transition: all 100ms ease-out;
  cursor: pointer;
}

.header-link {
  transition: color 80ms ease-in-out 0ms;
  font-family: Consolas, monaco, monospace;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 450;
  margin-right: 2.5rem;
  text-decoration: none;
  color: var(--cream);
}

.header-content {
  margin: 0 150px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.close-btn {
  display: none;
}

.header-number {
  padding-right: 0.5rem;
  color: var(--fandagoPink);
}
.resume-button {
  transition: color 80ms ease-in-out 0ms;
  color: var(--white);
  font-family: Consolas, monaco, monospace;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid var(--fandagoPink);
  font-size: 0.9rem;
  font-weight: 400;
}

.resume-button:hover {
  cursor: pointer;
  background-color: rgba(105, 25, 255, 0.2);
  transition: background-color 150ms ease-in-out 0ms;
}

.show {
  opacity: 1;
}

.mobile-navbar {
  background-color: var(--darkBlue);
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: '600';
  transform: translateX(100vw);
  visibility: hidden;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  padding: 3rem;
  transition: ease 0.6s;
}

@media (max-width: 1024px) {
  .open-header {
    display: block;
  }

  .hamburger-menu {
    position: relative;
    z-index: 10;
    width: 25px;
    height: 25px;
    transition: ease 0.3s;
  }

  .hamburger-menu:hover {
    transform: scale(1.1);
  }

  .close-mobile:hover {
    transform: scale(1.1);
  }

  .close-mobile {
    width: 25px;
    height: 25px;
    transition: ease 0.3s;
    position: relative;
    z-index: 10;
  }

  .header-content {
    margin: 0 50px;
    display: flex;
    align-items: center;
  }

  .header-links {
    display: none;
  }

  .mobile-link {
    transition: color 80ms ease-in-out 0ms;
    font-family: Consolas, monaco, monospace;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 450;
    padding: 1rem;
    text-decoration: none;
    color: var(--cream);
  }

  .mobile-link:hover {
    color: var(--fandagoPink);
  }

  .mobile-resume {
    margin-top: 1rem;
    transition: color 80ms ease-in-out 0ms;
    color: var(--white);
    font-family: Consolas, monaco, monospace;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 2px solid var(--fandagoPink);
    font-size: 0.9rem;
    font-weight: 400;
  }

  .mobile-resume:hover {
    cursor: pointer;
    background-color: rgba(105, 25, 255, 0.2);
    transition: background-color 150ms ease-in-out 0ms;
  }
}
