body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: #fffefa;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--white);
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.just-center {
  justify-content: center;
}

.pdf-root {
  width: 100%;
  height: 100%;
}

.pdf-viewer {
  position: relative;
  z-index: 1000;
  width: 100%;
  height: 100%;
}

.main-root {
  position: relative;
  width: 100%;
  height: 100vh;
}