body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.sm {
  @media (min-width: 640px) {
  }
}

.md {
  @media (min-width: 768px) {
  }
}

.lg {
  @media (min-width: 1024px) {
  }
}

.xl {
  @media (min-width: 1280px) {
  }
}

.xxl {
  @media (min-width: 1536px) {
  }
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}
.just-center {
  justify-content: center;
}
