.landing-root {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0 150px;
  background-color: var(--blue1);
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.text-container {
  margin-bottom: 5rem;
  z-index: 50;
  color: var(--white);
  margin-right: 5rem;
}

.main-text .text-hi {
  font-weight: 600;
  font-size: max(4vw, 30px);
  color: var(--cream);
}

.text-container .landing-name {
  font-size: max(4vw, 45px);
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: var(--fandagoPink);
}

.text-container .landing-name::after {
  content: '.';
  color: var(--cream);
}

.landing-root .buttons-container {
  display: flex;
  margin-top: 3rem;
}

.description {
  line-height: 1.8rem;
  font-size: 20px;
  font-weight: 500;
  color: var(--cream);
  max-width: 750px;
}

.hire-me-btn {
  transition: transform 50ms ease-out 0ms;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-left: 3rem;
  color: var(--fandagoPink);
  font-size: 18px;
  font-weight: 500;
}

.hire-me-btn:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.description-link-ece {
  color: var(--fandagoPink);
  text-decoration: none;
}

.see-work-btn {
  border: 1px solid var(--fandagoPink);
  color: var(--fandagoPink);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 0.8rem 3rem;
  font-size: 18px;
  transition: transform 150ms ease-out 0ms;
}

.see-work-btn:hover {
  background-color: rgba(105, 25, 255, 0.2);
  transition: all ease-in 50ms;
  transform: scale(1.02);
  cursor: pointer;
}
.description-link-ece:hover {
  text-decoration: underline;
}

.landing-page-svg {
  width: 100%;
  height: auto;
  max-width: 30vw;
  min-height: 325px;
  min-width: 325px;
}
/* Landing Page: On page load animation */

.fade {
  opacity: 0;
  transition: 2s all ease;
  animation: fade-up 1.5s ease-out;
}

.fade.active {
  opacity: 1;
}

.fade-2 {
  animation: fade-left 1.5s ease-out;
}

/* media queries responsive */

@keyframes fade-up {
  0% {
    padding-top: 150px;
  }
}

@keyframes fade-left {
  0% {
    opacity: 0;
    margin-right: 50px;
  }
}

@media (max-width: 1024px) {
  .landing-root .buttons-container {
    display: flex;
    margin-top: 3rem;
  }

  .landing-root {
    position: relative;
    width: 100%;
    height: auto;
    padding: 150px 50px;
  }
  .main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  .text-container {
    margin-bottom: 0;
    margin-right: 0;
    z-index: 50;
    color: var(--white);
  }

  .landing-page-svg {
    display: none;
  }

  .description {
    line-height: 1.5rem;
    font-size: 15px;
    font-weight: 500;
    color: var(--cream);
    max-width: 300px;
  }

  .see-work-btn {
    border-radius: 5px;
    padding: 0.8rem 3rem;
    font-size: 15px;
  }

  .hire-me-btn {
    margin-left: 3rem;
    font-size: 15px;
    font-weight: 500;
  }
}

@media (max-width: 1280px) {
  .see-work-btn {
    padding: 0.8rem 2rem;
    font-size: 15px;
  }

  .hire-me-btn {
    margin-left: 3rem;
    font-size: 15px;
    font-weight: 500;
  }

  .description {
    line-height: 1.5rem;
    font-size: 15px;
    font-weight: 500;
    color: var(--cream);
    max-width: 600px;
  }
}

@media (max-width: 680px) {
  .see-work-btn {
    padding: 0.8rem 2rem;
    font-size: 11px;
  }

  .hire-me-btn {
    margin-left: 3rem;
    font-size: 15px;
    font-weight: 500;
  }

  .description {
    line-height: 1.5rem;
    font-size: 15px;
    font-weight: 400;
    color: var(--cream);
    max-width: 600px;
  }

  .text-container .main-text {
    margin-bottom: 2rem;
  }
  .text-container .landing-name {
    font-size: 35px;
  }

  .main-text .text-hi {
    font-weight: 600;
    font-size: 25px;
  }
}
