.headerLink:hover {
  color: var(--fandagoPink);
  cursor: pointer;
}

.headerLink {
  transition: color 80ms ease-in-out 0ms;
}

.resumeButton {
  transition: color 80ms ease-in-out 0ms;
  color: var(--fandagoPink);
}

.resumeButton:hover {
  cursor: pointer;
  background-color: rgba(105, 25, 255, 0.2);
  transition: background-color 150ms ease-in-out 0ms;
}

.hireMeButton:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.description-link-ece {
  color: var(--fandagoPink);
  text-decoration: none;
}

.description-link-ece:hover {
  text-decoration: underline;
}

.hireMeButton {
  transition: transform 50ms ease-out 0ms;
}

.seeMyWorkButton {
  transition: transform 80ms ease-out 0ms;
}

.seeMyWorkButton:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.landing-blue-background {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 50%;
  top: 0px;
  background: var(--darkBlue);
  transform: skew(15deg);
}

@media (max-width: 1024px) {
  .landing-page-svg {
    display: none;
  }
}

@media (min-width: 1024px) {
}

/* Landing Page: On page load animation */

.fade {
  opacity: 0;
  transition: 2s all ease;
  animation: fade-up 1.5s ease-out;
}

.fade.active {
  opacity: 1;
}

.fade-2 {
  animation: fade-left 1.5s ease-out;
}

@keyframes fade-up {
  0% {
    padding-top: 150px;
  }
}

@keyframes fade-left {
  0% {
    opacity: 0;
    margin-right: 50px;
  }
}
