.root-container {
  width: 100%;
  height: max-content;
  position: relative;
  padding: 100px 150px;
  background-color: var(--darkBlue);
}

.projects-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects-title {
  color: var(--fandagoPink);
}

.projects-about {
  margin: 0.5rem 0;
  font-weight: 500;
  font-size: 18px;
  max-width: 750px;
  line-height: 2rem;
  color: var(--cream);
}

.filter-projects-container {
  color: var(--cream);
  margin-top: 4rem;
}

.filter-projects-list {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.list-item {
  margin-right: 1rem;
  font-weight: 500;
}

.list-link.active {
  color: var(--fandagoPink);
}

.list-link:hover {
  color: var(--fandagoPink);
}

.list-link {
  text-decoration: none;
  color: var(--softGrey);
}

.projects-container {
  margin-top: 3rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

@keyframes slide-in {
  0% {
    width: 0;
  }
}

/* Project */

.project-container {
  color: var(--cream);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.project-container > img {
  border-radius: 5px 5px 0 0;
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.project-container > .content {
  color: var(--white);
  position: absolute;
  inset: 0;
  font-size: 1rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.project-container > img,
.project-container > .content {
  transition: 200ms ease-in-out;
}

.project-container > .content.fade {
  opacity: 0;
}

.project-container:hover > .content.fade {
  opacity: 1;
}

.project-container:hover > img.blur {
  filter: blur(2px);
}

.project-container:hover > img.zoom {
  transform: scale(1.1);
}
