.root-container {
  width: 100%;
  height: max-content;
  position: relative;
  padding: 100px 150px;
  background-color: var(--blue1);
}

.projects-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects-title {
  color: var(--fandagoPink);
}

.projects-about {
  margin: 0.5rem 0;
  font-weight: 400;
  font-size: 18px;
  max-width: 750px;
  line-height: 1.5rem;
  color: var(--cream);
  font-family: Consolas, monaco, monospace;
}

.filter-projects-container {
  color: var(--cream);
  margin-top: 4rem;
}

.filter-projects-list {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.list-item {
  margin-right: 1rem;
  font-weight: 500;
}

.list-link.active {
  color: var(--fandagoPink);
}

.list-link:hover {
  color: var(--fandagoPink);
}

.list-link {
  position: relative;
  text-decoration: none;
  color: var(--softGrey);
}

.filter-badge {
  position: absolute;
  top: -10px;
  right: -15px;
  padding: 2px 5px;
  font-size: 12px;
  border-radius: 50%;
  font-family: Consolas, monaco, monospace;
  color: var(--softGrey);
}

.filter-badge.active {
  color: var(--fandagoPink);
}

.projects-container {
  margin-top: 3rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 330px);
  gap: 1rem;
  min-height: 330px;
}

@keyframes slide-in {
  0% {
    width: 0;
  }
}

/* media queries */

/* Project */

.project-container {
  color: var(--cream);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-10%);
}

.project-fade-in {
  opacity: 1;
  transform: translateX(0%);
  transition: ease 1s;
  filter: blur(0px);
}

.project-container > img {
  border-radius: 5px 5px 0 0;
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.4);
}

.project-container:hover > img {
  filter: brightness(1);
  transform: scale(1.1);
}

.project-container > .content {
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  opacity: 0;
}

.project-container .about-button {
  transform: translateY(230px);
  color: var(--cream);
  font-weight: 500;
  font-family: Consolas, monaco, monospace;
  font-size: 20px;
  transition: 100ms ease-in-out 75ms;
}

.project-container .about-desc {
  transform: translateY(200px);
  color: var(--softGrey);
  font-weight: 500;
  font-size: 14px;
  transition: 250ms ease-in-out 100ms;
  text-align: center;
}

.project-container > img,
.project-container > .content,
.project-container > .about-button {
  transition: 150ms ease-in-out;
}

.project-container:hover > .content {
  opacity: 1;
}

.content:hover > .about-button {
  transform: translateY(115px);
}

.content:hover > .about-desc {
  transform: translateY(125px);
}

@media (max-width: 1280px) {
  .root-container {
    padding: 100px 50px;
  }
  .projects-container {
    margin-top: 3rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 335px);
    gap: 1rem;
  }

  .projects-about {
    font-weight: 400;
    font-size: 16px;
  }

  .filter-projects-list {
    font-size: 15px;
  }

  .projects-title {
    color: var(--fandagoPink);
    font-size: 25px;
  }
}

@media (max-width: 1024px) {
  .projects-container {
    grid-template-columns: repeat(auto-fit, 335px);
  }

  .projects-about {
    font-weight: 400;
    font-size: 18px;
  }

  .projects-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .projects-title {
    color: var(--fandagoPink);
    font-size: 20px;
  }

  .filter-projects-list {
    font-size: 15px;
  }
}

@media (max-width: 801px) {
  .project-container > img {
    filter: brightness(1);
  }

  .projects-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .filter-projects-list {
    font-size: 12px;
  }

  .project-container .about-button {
    transform: translateY(95px);
  }

  .project-container .about-desc {
    transform: translateY(100px);
  }

  .project-container > .content {
    opacity: 1;
  }

  .content:hover > .about-button {
    transform: translateY(95px);
  }

  .content:hover > .about-desc {
    transform: translateY(100px);
  }
}

@media (max-width: 540px) {
  .list-item {
    margin-right: 0.5rem;
    font-weight: 500;
  }
  .filter-projects-list {
    font-size: 10px;
    list-style: none;
  }

  .projects-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
