.about-root {
  width: 100%;
  display: flex;
  position: relative;
  background-color: var(--background-color);
  color: var(--white);
  align-items: center;
  padding: 100px 150px;
  overflow-x: hidden;
}

.about-left-ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.hero-img-ctn {
  /* background-color: var(--surface-color); */
  border-radius: 50%;
  margin-right: 200px;
}


.hero-img-ctn>img {
  width: 100%;
  min-width: 400px;
  clip-path: circle(50% at 50% 50%);
  transition: clip-path 0.3s;
}

.hero-img-ctn>img:hover {
  clip-path: circle(70% at 50% 50%);
}

.about-right-ctn {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.about-me-header {
  color: var(--primary-color);
  font-size: clamp(60px, 1.8vw, 60px);
  padding: 0;
  margin: 0 0 1rem 0;
  font-weight: 600;
}

.about-me-header>span {
  display: inline-block;
}

.about-me-header>span:hover {
  animation: gelatine 0.7s linear;
  color: var(--secondary-color);
  transition: all 100ms ease-out 0ms;
}

.typed-section {
  font-family: Consolas, monaco, monospace;
  color: var(--text-primary-color);
  font-size: clamp(20px, 2.5vw, 50px);
  font-weight: 500;
  margin: 0;
  padding: 0;
  height: 90px;
}

.about-description {
  line-height: 1.8rem;
  font-weight: 500;
  color: var(--text-secondary-color);
  font-size: clamp(10px, 1.1rem, 40px);
  width: 100%;
  max-width: 700px;
}

.about-description>.countries-span {
  color: var(--primary-color);
  font-weight: 500;
}

.skills-list {
  color: var(--text-primary-color);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 100px));
  font-size: 0.9rem;
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  list-style: none;

}

.skills-list>li::before {
  content: '▹ ';
  position: absolute;
  left: 0px;
  color: var(--accent-color);
  font-size: 1.2rem;
  line-height: 12px;
  font-weight: 600;
}

.skills-list>li {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
  padding-left: 25px;
  font-family: Consolas, monaco, monospace;
}


/* ANIMATIONS */
.about-hidden {
  opacity: 0;
  filter: blur(10px);
  transition: ease-in 0.2s;
}

@media (prefers-reduced-motion) {
  .about-hidden {
    transition: none;
  }
}

.fade-in {
  transition: ease-in 500ms;
  opacity: 1;
  filter: blur(0px);
}

.about-slide {
  opacity: 0;
  filter: blur(10px);
  transform: translateX(75%);
  transition: ease-out 200ms;
}

.slide-in {
  transition: ease-out 600ms;
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0);
}

/* MEDIA QUERIES RESPONSIVE */

@media (max-width: 1280px) {
  .about-root {
    padding: 100px 50px;
    flex-direction: column;
  }

  .hero-img-ctn {
    border-radius: 50%;
    margin-right: 0;
    margin-bottom: 3rem;
  }

  .hero-img-ctn>img {
    width: 200px;
    min-width: 200px;
  }

  .about-left-ctn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .about-right-ctn {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .about-me-header {
    padding: 0;
    margin: 0 0 1rem 0;
  }

  .typed-section {
    align-self: flex-start;
    font-family: Consolas, monaco, monospace;
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    height: 90px;
  }

  .about-me-header {
    font-size: clamp(20px, 2vw, 60px);
    padding: 0;
    margin: 0 0 1rem 0;
  }

  .about-description {
    line-height: 1.8rem;
    font-weight: 400;
    font-size: 15px;
    width: 100%;
    max-width: 700px;
  }
}

@media (max-width: 640px) {
  .typed-section {
    align-self: flex-start;
    font-family: Consolas, monaco, monospace;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    height: 90px;
  }

  .about-description {
    line-height: 1.8rem;
    font-weight: 400;
    font-size: 17px;
    width: 100%;
    max-width: 700px;
  }

  .skills-list>li::before {
    content: '▹ ';
    position: absolute;
    left: 0px;
    font-size: 1rem;
    line-height: 12px;
  }

  .skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 100px));
    font-size: 0.8rem;
    gap: 0px 10px;
    padding: 0px;
    margin: 20px 0px 0px;
    list-style: none;
  }
}